:root {
  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --color-text: #ffffff;
  --color-overlay: rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: var(--font-main);
  background-color: #000;
  color: var(--color-text);
}
